html, body {
    position: relative;
    height: 100%;
}
body {
    background: #fff;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color:#000;
    margin: 0 auto;
    padding: 0;
    max-width:750px;
}
.bg {
    background: #1167b2;
}
* {
    margin:0;
    padding:0
}
#app {
    width:100%;
    height: 100%;
    max-width:750px;
    margin:0 auto
}
.yindao {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3);
    background-size: 100% 100%;
    z-index: 201;
    text-align: center;
    box-sizing: border-box;
    padding: 0 24px;
}
.down-banner {
    width: 100%;
    height: 100%;
    text-align: center;
    float:left;
    background: url("../img/bj.png") no-repeat bottom center;
    background-size: 100% auto;
    text-align: center;
}
.logo {
    width: 100%;
    text-align: center;
    float:left;
    margin-top:120px;
    padding-bottom:50px
}
.down-banner img {
    width:174px;
}
.downLoad {
    width: 100%;
    text-align: center;
    float:left;
    margin-top:20px
}
.downLoad a {
    width: 234px;
    display: inline-block;
    text-align: center;
    height:55px;
    cursor:pointer
}
.downLoad a img {
    width:100%;
}
.load {
    padding-bottom: 24px;
    cursor: pointer;
}
.load img {
    width: 100%;
    display: block;
    padding-bottom:20px
}
.other {
    padding:5px 20px;
}
.other3 {
    margin-top: -110px;
    padding:0 20px;
}
.btn {
    width: 225px;
    height: 48px;
    text-align: center;
    font-size: 16px;
    line-height: 48px;
    color: #fff;
    background: #FA2800;
    border-radius: 8px;
    margin:0 auto;
}
.load a {
    color: #fff;
    text-decoration:none
}