.ipt {
    height: .51rem;
    margin: 0 .17rem;
}

.top-description {
    height: 50px;
    padding: .16rem .17rem;
}

textarea {
    background: #fff;
    width: 100%;
    padding: 0.16rem .17rem;
}

@media screen and (-webkit-min-device-pixel-ratio: 1.5) {
    .wrap textarea:after {
        width: 150%;
        height: 150%;
        -webkit-transform: scale(.6667);
        transform: scale(.6667);
    }
}

@media screen and (-webkit-min-device-pixel-ratio: 2) {
    .wrap textarea:after {
        width: 200%;
        height: 200%;
        -webkit-transform: scale(.5);
        transform: scale(.5);
    }
}

@media screen and (-webkit-min-device-pixel-ratio: 3) {
    .wrap textarea:after {
        width: 300%;
        height: 300%;
        -webkit-transform: scale(.3333);
        transform: scale(.3333);
    }
}