 #webview {}

 .center {
     min-height: 3.5rem;
     display: flex;
     justify-content: center;
     align-items: flex-end;
 }

 
 .loadingdiv {
   width: .8rem;
   height: .96rem;
   border: 3px solid transparent;
   border-top-color: #666666;
   border-bottom-color: #666666;
   border-radius: 50%;
   animation: spin-stretch 2s ease infinite;
 }
 
 @keyframes spin-stretch {
   50% {
     transform: rotate(360deg) scale(0.4, 0.33);
     border-width: 8px;
   }
   100% {
     transform: rotate(720deg) scale(1, 1);
     border-width: 3px;
   }
 }
 

 .loading {
     text-align: center;
     line-height: .86rem;
     font-size: .24rem;
 }

 