 #webview {}

 .center {
     min-height: 3.5rem;
     display: flex;
     justify-content: center;
     align-items: flex-end;
 }

 .loading {
     text-align: center;
     line-height: .86rem;
     font-size: .24rem;
 }

 
.loadingDiv {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  width: .6rem;
}

.view_span {
  width: 0.1rem;
  height: .3rem;
  background-color: #666666;
}

.view_span:nth-of-type(1) {
  animation: grow 1s -0.45s ease-in-out infinite;
}

.view_span:nth-of-type(2) {
  animation: grow 1s -0.3s ease-in-out infinite;
}

.view_span:nth-of-type(3) {
  animation: grow 1s -0.15s ease-in-out infinite;
}

.view_span:nth-of-type(4) {
  animation: grow 1s ease-in-out infinite;
}

@keyframes grow {
  0%,
  100% {
    transform: scaleY(1);
  }

  50% {
    transform: scaleY(2);
  }
}
