html{font-size:calc(100vw/9.6);}
.bg_box{
    position: relative;
}
.bg_img{
    width: 100%;
    height: 100%;
}
.btn_div{
    width: 2.11rem;
    height: .53rem;
    position: absolute;
}
.btn1{
    bottom: .47rem;
    left: 2.18rem;
    background-size: 100%;
    background-image: url('../image/ios-1.png');
}
.btn1:hover{
    background-image: url('../image/ios-2.png');
}
.btn2{
    bottom: .47rem;
    left: 5.45rem;
    background-size: 100%;
    background-image: url('../image/and-1.png');
}
.btn2:hover{
    background-image: url('../image/and-2.png');
}