.message_view1{
    padding:0 0.1rem;
}
.message_content{
    border: .01rem solid #999999;
    height: 2rem !important;
    width: 90%;
    margin: 0 5%;
    border-radius: .1rem;
    padding:0 .1rem;
    background-color: #fff;
}
.top-description{
    height: 0.3rem;
    line-height: 0.3rem;
}
.wrap{
    padding-bottom:0.2rem;
}
.jButton{
    display: flex;
    justify-content: center;
}
.card-area{
    border: 0.01rem solid #999999;
}
.nickname{
    background-color:#ffffff;
    border: 0.01rem solid #999999;
    border-radius: 0.08rem;
    margin-top: 0.2rem;
    padding-left: 0.1rem;
}