#race {
  font-size: 0.16rem;
}

.content_today_view {
  position: relative;
  margin: 0 0.1rem;
  padding: 0 .1rem;
  background-color: #25282a;
  border-bottom: #393d40 solid 0.01rem;
}

.bgcl {
  background-color: #25282a;
}

.content_image {
  width: 0.52rem;
  height: 0.52rem;
}

.text_name {
  text-align: center;
  font-size: 0.12rem;
}

.team_view {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
  width: 30%;
  height: 1.5rem;
  text-align: center;
}

.score_view {
  font-size: 0.4rem;
  font-weight: 700;
  color: #ffffff;
}

.race_message {
  color: #ffffff;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.05rem;
}

.hover {
  background-color: #87CEFA;
  color: #fff;
  border-color: #fff;
}

.intro {
  background-color: #25282a;
}

.center_text {
  color: #8a8d90;
}

.loading_title {
  width: 100%;
  color: #666666;
  height: 0.38rem;
  line-height: 0.38rem;
  font-size: 0.16rem;
  text-align: center;
  z-index: 100;
}

.bannerImg>image {
  width: 100%;
  height: 100%;
}

.loading_title>image {
  width: 0.20rem;
  height: 0.20rem;
}

.zhiboing {
  color: #0174c3;
  padding: 0.02rem 0.05rem;
  border: #0174c3 0.01rem solid;
  border-radius: 0.08rem;
  box-shadow: 0.01rem 0.01rem 0.01rem #094080;
}