#pc{
    position: relative;
    width: 100%;
    height: 100%;
}
.bgimg{
    width: 100%;
    height: 100%;
}
.ios{
    width: 2rem;
    height: .47rem;
    background: url('../iamge/ios.png');
    background-size: 100%;
    position: absolute;
    bottom: 0.28rem;
    left: 27%;
}
.ios:hover{
    background: url('../iamge/ios1.png');
    background-size: 100%;
}
.andr{
    width: 2rem;
    height: .47rem;
    background: url('../iamge/and.png');
    background-size: 100%;
    position: absolute;
    bottom: 0.28rem;
    right:25%
}
.andr:hover{
    background: url('../iamge/and1.png');
    background-size: 100%;
}