.showHttploading {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 100;
}

.playtype {
  color: #87CEFA;
  background-color: #ffffff;
  border: 0.01rem #87CEFA solid;
  display: inline-block;
  padding: 0.05rem;
  border-radius: 0.05rem;
  margin-right: 0.1rem;
}

.playtype1 {
  color: #676767;
  background-color: #ffffff;
  border: 0.01rem #676767 solid;
  display: inline-block;
  padding: 0.05rem;
  border-radius: 0.05rem;
  margin-right: 0.1rem;
}

.balls {
  position: absolute;
  left: 45%;
  top: 50%;
  width: 3.5em;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}

.balls view {
  width: 0.8em;
  height: 0.8em;
  border-radius: 50%;
  background-color: #fc2f70;
  transform: translateY(-100%);
  animation: wave 0.8s ease-in-out alternate infinite;
}

.balls view:nth-of-type(1) {
  animation-delay: -0.4s;
}

.balls view:nth-of-type(2) {
  animation-delay: -0.2s;
}

@keyframes wave {
  from {
    transform: translateY(-100%);
  }

  to {
    transform: translateY(100%);
  }
}

.balls_view {
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 100%;
}

#race {
  font-size: 0.16rem;
}

.content_today_view {
  padding: 0.15rem 0;
  margin: 0.07rem;
  font-size: 0.15rem;
  background-color: #fff;
}


.hover {
  background-color: #87CEFA;
  color: #fff;
  border-color: #fff;
}

.bannerImg>image {
  width: 100%;
  height: 100%;
}

.loading_title {
  width: 100%;
  color: #666666;
  height: 0.38rem;
  line-height: 0.38rem;
  font-size: 0.16rem;
  text-align: center;
  z-index: 100;
}

.loading_title>image {
  width: 0.20rem;
  height: 0.20rem;
}


.span_view {
  display: inline-block;
}

.content_body {
  background-color: #fff;
}

.content_body2 {
  font-size: 0.16rem;
}
.lname {
  text-align: left;
  width: 1rem;
  margin-left: 0.05rem;
  /* background-color: #fff; */
  padding: 0.05rem;
  border-radius: 0.04rem;
  color: #7170b4;
  font-size: 0.13rem;
  font-weight: 600;
}
.lname1 {
  text-align: left;
  width: 0.65rem;
  margin-left: 0.05rem;
  /* background-color: #fff; */
  padding: 0.05rem;
  border-radius: 0.04rem;
  color: #7170b4;
  font-size: 0.13rem;
  font-weight: 600;
}
.gameTimeFormat {
  color: #747474;
  margin-left: 0.26rem;
}

.content_top {
  display: flex;
  align-items: center;
  position: relative;
}

.gameStage {
  /* position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto; */
  color: #a60910;
  width: 0.7rem;
  text-align: center;
}

.hname {
  max-width: 1.45rem;
  color: #000000;

  text-align: right;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.hTotalScore {
  color: #a60910;
}

.aTotalScore {
  color: #b1b1b1;
}

.hRedCard,
.aRedCard {
  background-color: #e25d58;
  color: #fff;
  font-size: 0.14rem;
  padding: 0.02rem 0.03rem;
}

.hYellowCard,
.aYellowCard {
  font-size: 0.14rem;
  padding: 0.02rem 0.03rem;
  background-color: #eec350;
  margin-right: 0.05rem;
  color: #fff;
}

.aYellowCard {
  margin-left: 0.05rem;
  margin-right: 0rem;
}

.aname {
  max-width: 1.4rem;
  color: #000000;

  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.content_left {
  width: 41%;
}

.content_left1 {
  width: 48%;
}

.content_right {
  width: 40%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.hTotalScore {
  width: 0.6rem;
  text-align: center;
  margin: 0 0.05rem;
}

.content_bottom {
  color: #b4b4b4;
  font-size: .12rem;
}

.court {
  width: 0.2rem;
  height: 0.2rem;
}
.hcardleft,.hcardright{
  width: 39%;
}
.intro1{
  text-align: center;
}
.licon{
  width: 0.32rem;
  height: 0.32rem;
}
.content_bottom{
  text-align: center;
  padding: 0.07rem 0 ;
}

.hicon,.aicon{
  width: 0.2rem;
  height: 0.2rem;
}
.share_view{
  padding-top: 0.1rem;
}
.logo{
  margin-left: 0.3rem;
  width: 0.22rem;
  height: 0.22rem;
}
.logo1{
  width: 0.82rem;
  height: 0.22rem;
}
.share{
  margin-right: 0.4rem;
  width: 0.22rem;
  height: 0.22rem;
}