.rowlike {
    margin: .2rem .57rem;
    display: flex;
}

.rowlike view {
    flex: 1;
    text-align: center;
    font-size: .16rem;
    color: #FFF;
    width: .91rem;
    height: 1.22rem;
    line-height: 1.22rem;
}

.collike {
    margin: .2rem .68rem;
    flex-direction: column;
}

.collike view {
    height: 1.07rem;
    width: 2.5rem;
    line-height: 1.07rem;
    flex: 1;
    text-align: center;
    font-size: .16rem;
    color: #FFF;
}

.hover {
    opacity: .2;
}

.wrap {
    font-size: .16rem;
}

.scroll-view {
    height: 1.66rem;
    white-space: nowrap;
    margin-bottom: 0.1rem;
}

.color-a,
.color-b,
.color-c {
    line-height: 1.66rem;
    text-align: center;
    font-size: .16rem;
    color: #fff;
}

.row-view {
    display: inline-block !important;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    line-height: 1.66rem;
    border-radius: 0 0 8px 8px;
}

.row-view image {
    width: 100%;
    height: 100%;
}

.page-section-btns {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 .23rem;
}

.page-section-btns>view {
    flex: 1;
    height: .28rem;
    width: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #f70709;
    border: .007rem solid #f70709;
    border-radius: .05rem;
    margin: .1rem .14rem;
}

.scrollToTop {
    border-right: 1px solid #ddd;
}

.next {
    border-left: 1px solid #ddd;
}



.main-container {
    margin: .05rem .1rem 0 .1rem;
}

.main-title {
    height: 21px;
    border-left: 3px solid #5091C7;
    padding-left: 0.05rem;
    color: #5C8AF5;
    font-weight: 700;
    font-size: 0.2rem;
}

.main-title-top {
    /* margin: 0.1rem 0 ; */
    height: 21px;
    /* border-left: 3px solid #5091C7; */
    padding-left: 0.05rem;
    color: #5C8AF5;
    font-weight: 700;
    font-size: 0.2rem;
}

.v-swiper {
    height: 100%;
}

.news {
    /* color: red; */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #f70709;
    font-size: 0.12rem;
    text-align: inherit;
}

.horn {
    height: 100%;
    width: 0.2rem;
    float: left;
    transform: rotate(20deg);
}

.gun {
    width: 100%;
    height: 100%;
}

.news-con {
    float: left;
    height: 100%;
    line-height: 25px;
    font-size: 0.13rem;
    width: 90%;
}

.news-title {
    float: left;
    width: 29%;
    height: 100%;
    line-height: 21px;
}

.main-line {
    width: 100%;
    height: 1px;
    background-color: #DBDBDB;
    margin: 0 auto;
    margin-top: 0.1rem;
}

.top-description {
    width: 50%;
    float: left;
    padding: 0;
}

.content_image {
    display: block;
}

.con-img {
    width: 100%;
    height: 70%;
    /* float: left; */
}

.content_view {
    width: 50%;
    height: 1.75rem;
}

.content_view image {
    width: 100%;
}

.con-img image {
    width: 100%;
    height: 100%;
}

.con-title {
    /* float: left; */
    width: 100%;
    height: 30%;
}

.title_one {
    font-weight: 500;
    font-family: Microsoft JhengHei;
    /* color: #f70709; */
    line-height: 0.25rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    font-family: PingFangSC-Regular;
    font-size: 0.16rem;
}

.title_two {
    position: absolute;
    bottom: 0.1rem;
    color: #C4B8BD;
    font-size: 0.15rem;
}

.small-default {
    margin-right: 0.05rem;
    width: 0.15rem;
    height: 0.16rem;
    float: left;
}

.bannerImages {
    width: 100%;
}

.bannerImg>image {
    width: 100%;
    height: 100%;
}

.bannertext {
    margin: 0.1rem 0;
    padding: 0.05rem;
    font-family: STXinwei;
    border: 2px solid;
    border-radius: 0.10rem;
    color: #f70709;
}

.logodiv {
    width: 100%;
    height: 0.38rem;
    display: flex;
    align-items: center;
}

.logodiv1 {
    width: 100%;
    height: 0.38rem;
    display: flex;
    align-items: center;
    color: #f70709;
}

.logoimages {
    width: 0.39rem;
    height: 100%;
}

.img2 {
    width: 0.79rem;
    height: 0.21rem;
    line-height: 0.79rem;
}

.newimg {
    width: 0.32rem;
    height: 0.32rem;
}

.changeContent {
    padding: 0.1rem 0.1rem 0 0.1rem;
}

.centerimg {
    display: flex;
    align-items: center;
}

.changeNew {
    color: #4e89e1;
}

.changeHot {
    color: #d81e06;
}

.changeSpan {
    font-weight: 600;
    padding: 0 0.05rem;
}



/* videotemplate */
.content .player_image{
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 0.32rem !important;
    height: 0.32rem;
}

.content_span {
    z-index: 100;
    color: #000000;
    padding: 0.1rem 0.2rem;
}

.content {
    width: 48%;
    float: left;
    position: relative;
    margin-top: 0.1rem;
}
.content:nth-child(2n+1){
    margin-left:2% ;
}

.content image {
    width: 100%;
    height: 1.12rem;
}

.content_div{
    margin-top: 0.15rem;
}

.content_time{
    position: absolute;
    bottom: 0.6rem;
    right: 0.05rem;
    color: #fff;
}