.rowlike {
    margin: .2rem .57rem;
    display: flex;
}

.rowlike view {
    flex: 1;
    text-align: center;
    font-size: .16rem;
    color: #FFF;
    width: .91rem;
    height: 1.22rem;
    line-height: 1.22rem;
}

.collike {
    width: 100%;
    margin: .1rem 0;
    flex-direction: column;
}

.img_container {
    width: 100%;
    float: left;
    padding: 0.02rem 0.05rem;
}
.main_img{
    width: 100%;
    height: 2.5rem;
}
/* .img_container:nth-child(odd){
    margin-right: 2%;
} */
.detail_bottom{
    width: 100%;
    height: 0.5rem;
    position: fixed;
    background-color: #FFF;
    bottom: 0;
    text-align: center;
    line-height: 0.5rem;
}
.share{
    float:right;
    margin: 0 0;
    line-height:0.3rem;
    font-size: 0.14rem;
    padding:0 0.1rem;
    color:#fff;
    background-color: #F82E48 !important;
}
.hover {
    opacity: .2;
}

.detail-title {
    height: 0.8rem;
    /* line-height: 0.5rem; */
    padding: 0;
}
.title-h {
    margin: 0 auto;
    margin: 0.2rem 0.1rem;
    /* color: #f70709; */
    font-weight: 600;
    font-size: 0.2rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    text-align: center;
}

.collike .pic {
    width: 100%;
    height: 190px;
}

.collike .pic image {
    width: 100%;
    height: 190px;
    /* height: 100%; */
}

.collike .article {
    color: #333;
    line-height: 0.5rem;
    text-indent: 0.2rem;
}

.border-bottom:after {
    height: 0;
}

.logo-con {
    width: 100%;
    height: 0.3rem;
}

.logo-img {
    height: 0.3rem;
    width: 0.3rem;
    float: left;
}

.logo-box {
    height: 0.3rem;
    width: 0.5rem;
    float: left;
    border: none;
}

.logo-img-two {
    height: 0.15rem;
    width: 100%;
}

.logo-time {
    height: 0.15rem;
    width: 120%;
    font-size: 0.1rem;
    color: #CACACA;
}

#text img {
    width: 100% !important;
}
.like{
    width: 0.15rem;
    height: 0.15rem;
    position: relative;
    top: 0.02rem;
}